
  <form class="container" [formGroup]="loginForm">
  <h1>Form-Login</h1>
  <br />
  <div [formGroup]="loginForm">
    <label for="username">Username:</label>
    <br>
    <input
      type="text"
      id="username"
      class="Form-Login"
      placeholder="username"
    />
    <br>
    <label for="password">Password:</label>
    <br>
    <input
      type="password"
      id="password"
      class="Form-Login"
      placeholder="password"
    />
    <br>
    <br>
        <a><button (click)="login()">Invia </button></a>
      </div>
  </form>


