<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center" class="col-1">
  <h1>Welcome to {{ title }}!</h1>

  <nav style="text-align:left">
    <h2><a routerLink="login">Login</a></h2>
  </nav>
</div>

<router-outlet></router-outlet>
